@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 
}

body {
    background-color: #09080d;
}



.header {
    display: flex;
    justify-content: space-around;
}

nav {
    display: flex;
    
}

.header nav .nav-left {
    border-top: 2px solid rgb(229, 25, 25);
    width: 70px;
    height: 50px;
    position: relative;
    top: 36px;
    right: 6px;
    transform: rotate(45deg);
    flex: 1 1 auto;
}

.header nav .nav-left-line {
    border-top: 2px solid red;
    border-image: linear-gradient(to left, red, rgba(0, 0, 0, 0)) 1 stretch;
    width: 100px;
    height: 50px;
    top: 18px;
    left: 21.5px;
    position: relative;
    transform: rotate(0deg);
    display: flex;
}

.line-red {
    width: 100px;
    height: 50px;
    top: 18px;
    position: relative;
}

.lines-left-1 {
    border-top: 2px solid rgba(229, 25, 25, 0.1);
    animation-name: lineMoveLeft;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.lines-left-2 {
    border-top: 2px solid rgba(229, 25, 25, 0.3);
    animation-name: lineMoveLeft;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.lines-left-3 {
    border-top: 2px solid rgba(229, 25, 25, 0.5);
    animation-name: lineMoveLeft;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.lines-left-4 {
    border-top: 2px solid rgba(229, 25, 25, 0.7);
    animation-name: lineMoveLeft;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.lines-left-5 {
    border-top: 2px solid rgb(229, 25, 25);
    animation-name: lineMoveLeft;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes lineMoveLeft {
    0% {
        transform: translateX(0%) rotate(45deg);
    }

    50% {
        transform: translateX(-50%) rotate(45deg);
    }

    100% {
        transform: translateX(0%) rotate(45deg);
    }
}

.header nav .nav-links {
    border-bottom: 2px solid rgb(229, 25, 25);
    flex: 1 1 auto;
}

.header nav .nav-right {
    border-top: 2px solid rgb(229, 25, 25);
    width: 70px;
    height: 50px;
    position: relative;
    top: 36px;
    left: 6px;
    transform: rotate(-45deg);
    flex: 1 1 auto;
}

.header nav .nav-right-line {
    /* border-top: 2px solid rgb(229, 25, 25); */
    border-top: 2px solid red;
    border-image: linear-gradient(to right, red, rgba(0, 0, 0, 0)) 1 stretch;
    width: 100px;
    height: 50px;
    top: 18px;
    right: 21.5px;
    position: relative;
    flex: 1 1 auto;
    display: flex;
}


.lines-right-5 {
    border-top: 2px solid rgba(100, 49, 49, 0.1);
    animation-name: lineMoveRight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.lines-right-4 {
    border-top: 2px solid rgba(229, 25, 25, 0.3);
    animation-name: lineMoveRight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.lines-right-3 {
    border-top: 2px solid rgba(229, 25, 25, 0.5);
    animation-name: lineMoveRight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.lines-right-2 {
    border-top: 2px solid rgba(229, 25, 25, 0.7);
    animation-name: lineMoveRight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.lines-right-1 {
    border-top: 2px solid rgb(229, 25, 25);
    animation-name: lineMoveRight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes lineMoveRight {
    0% {
        transform: translateX(0%) rotate(-45deg);
    }

    50% {
        transform: translateX(50%) rotate(-45deg);
    }

    100% {
        transform: translateX(0%) rotate(-45deg);
    }
}

.header .nav-links li {
    display: inline-block;
    /* padding: 20px 0px; */

}


.header .nav-links li:hover {
    background-image: linear-gradient(0deg, rgb(203, 43, 43), transparent);
    /* color: rgb(30, 255, 0); */
}

.header .nav-links li a {
    font-size: 15pt;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 15px rgb(255, 0, 0);
    padding: 20px 10px;
    display: block;
}





/*  Contenido   */
.main {
    margin-top: 10px;
}
.hr1{
    /* border: 1px solid #ff0000;*/
    width: 70%;
    margin: 15px auto 15px auto; 
    height: 8px; 
    background-image: linear-gradient(45deg, transparent, red, transparent);
    
    border: 0;
    height: 1px;
}

.main .text-begin {
    color: #fff;
    display: flex;
    justify-content: center;
    /* background-image: linear-gradient(rgb(9 8 13), rgb(0, 0, 0)); */
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 2;
}

.main .text-begin div {
    width: 35%;
    position: relative;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    /*Separacion de letras*/
    padding: 10px 30px;
    transition-duration: 0.5s;
    animation-name: luzinfobegin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.main .text-begin div::before {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #000;
}

.main .text-begin div h3 {
    position: relative;
    text-align: center;
    z-index: 1;
    color: #fff;
}

.main .text-begin div h3 i {
    position: absolute;
    inset: 0;
    display: block;
}

.main .text-begin div i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid rgb(229, 25, 25);
    background-color: #27282c;
    transition-duration: 0.5s;
    animation-name: infobegin1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes luzinfobegin {
    0% {}

    50% {
        /* background-color:rgb(229, 25, 25);
        color:rgb(229, 25, 25);
        box-shadow: 0 0 35px rgb(229, 25, 25); */
    }

    100% {}
}

@keyframes infobegin1 {
    0% {
        transform: translateX(-50%);
        width: 20px;
        left: 60%;

    }

    50% {
        width: 20px;
        left: 0%;
    }

    100% {
        transform: translateX(40%);
        width: 20px;
        left: 56%;
    }
}

@keyframes infobegin2 {
    0% {
        transform: translateX(-50%);
        width: 20px;
        left: 90%;

    }

    50% {
        width: 20px;
        left: 30%;
    }

    100% {
        transform: translateX(40%);
        width: 20px;
        left: 88%;
    }
}

.main .text-begin div:hover i::before {
    width: 20px;
    left: 20%;
}

.main .text-begin div i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid rgb(229, 25, 25);
    background-color: #27282c;
    transition-duration: 0.5s;
    animation-name: infobegin2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.main .text-begin div:hover i::after {
    width: 20px;
    left: 80%;
}




.main .text-begin b {
    color: rgb(233, 49, 49);
}

.content {
    display: grid;
    grid-gap: 1rem;
    color: azure;
    max-width: 1200px;
    margin: auto;
    /* background-color: black; */

}

.logo {
    grid-gap: 1rem;
    /* border: 1px solid #ff0000;  */
    display: flex;
    justify-content: center;
    height: 100vh;
}

.logo img:nth-child(1) {
    position: absolute;
    width: 400px;
    transform-origin: 0 0;
    animation-name: imgzoom;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.logo img:nth-child(2) {
    position: absolute;
    width: 400px;
    transform-origin: 0 0;
    animation-name: imgzoom;
    animation-duration: 5.5s;
    animation-iteration-count: infinite;
}

.logo img:hover {
    transform: scale(1.05);
}

@keyframes imgzoom {
    0% {
        transform: scale(1.0) rotate(0deg);
    }

    10% {
        transform: scale(1.1) rotate(1deg);
    }

    30% {
        transform: scale(1.1) rotate(5deg);
    }

    60% {
        transform: scale(1.1) rotate(1deg);
    }

    100% {
        transform: scale(1.0) rotate(0deg);
    }
}

.man {
    grid-gap: 1rem;
    /* border: 1px solid #ff0000; */
    display: flex;
    justify-content: center;
    border-left-width: 1px;
    border-left-style: solid;
    border-image: linear-gradient( to bottom, transparent, gray, transparent ) 1 100%;
}

.card {
    width: 310px;
    height: 300px;
    background-color: #ff0000;
    position: relative;
}

.card:before {
    content: '';
    width: 306px;
    height: 296px;
    background: #09080d;
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
}

.card,
.card:before {
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
}

.man img {
    position: absolute;
    /* border: 1px solid #ff0000; */
    width: 310px;
    height: 300px;
    z-index: 2;
}

.man .divShadow {
    position: absolute;
    border-bottom: 2px solid #ff0000;
    width: 310px;
    top: 240px;
    height: 60px;
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0) 80%);
    z-index: 3;
}

.man .card-left {
    border-bottom: 3px solid #ff0000;
    width: 40px;
    height: 30px;
    z-index: 5;
    position: relative;
    transform: rotate(-45deg);
}

.man .card-left::before {
    content: '';
    border-bottom: 3px solid #a90303;
    width: 40px;
    height: 30px;
    z-index: 4;
    top: 13px;
    left: 16px;
    position: absolute;
}

.man .card-left::after {
    content: '';
    border-bottom: 3px solid #750202;
    width: 40px;
    height: 30px;
    z-index: 4;
    top: 29px;
    left: 31px;
    position: absolute;
}

.card::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    width: 1px;
    height: 25px;
    z-index: 3;
    border: 2px solid rgb(229, 25, 25);
    background-color: #09080d;
    transition-duration: 0.5s;
    animation-name: cardParticula;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.card:hover::before {
    box-shadow: inset 0 0 25px rgb(229, 25, 25);
    /* background: #12101a; */
}

.card:hover::after {
    /* box-shadow: inset 0 0 25px rgb(229, 25, 25); */
    background: rgb(229, 25, 25); 
}

@keyframes cardParticula {
    0% {
        transform: translateY(-50%);
        width: 5px;
        top: 70%;
    }

    50% {
        width: 5px;
        top: 30%;
    }

    100% {
        transform: translateY(40%);
        width: 5px;
        top: 61%;
    }
}






/*software*/
    .software {
        width: 100%;
    }

    .skew-c {
        width: 100%;
        height: 50px;
        position: absolute;
        left: 0px;
        background: linear-gradient(to left bottom, #09080d 47%, #a90303 3%, rgb(0, 0, 0) 50%);
    }

    .skew-cc {
        width: 100%;
        height: 50px;
        position: absolute;
        left: 0px;
        background: linear-gradient(to right bottom, rgb(0, 0, 0) 47%, #a90303 3%, #09080d 50%), linear-gradient(-50deg, #09080d 16px, #000 0);
    }

    .colour-block {
        background: #000;
        width: 100%;
        padding: 5% 20% 5% 20%;
        color: #fff;
    }
    
    .colour-block h1 {
        text-align: center;
        font-size: 50px;
        font-family: 'Segoe UI', serif;
        font-weight: normal;
    }

    .colour-block p {
        font-size: 20px;
        font-family: 'Raleway', serif;
    }

    /*Card Apps*/
    .cardAps {
        width: 210px;
        height: 100px;
        background-color: #ff0000;
        position: relative;
    }

    .cardAps:before {
        content: '';
        width: 206px;
        height: 96px;
        background: #000;
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: 1;
    }

    .cardAps,
    .cardAps:before {
        -webkit-clip-path: polygon(10% 0%, 10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 90%, 0% 20%);
        clip-path: polygon(10% 0%, 10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 90%, 0% 20%);
    }

    .cardAps .content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        color: #fff;
        width: 100%;
        height: 100%;
    }

    .cardAps .content h3 {
        background-image: linear-gradient(260deg, rgba(203, 43, 43, 0.295), transparent);
        padding: 5px;
        margin-left: 5px;
        border-bottom: 2px solid #a90303;
    }

    .cardAps .content img {
        padding: 5px;
        margin-left: 2px;
    }

    .cardAps:hover:before {
        background: rgb(45, 3, 3);
        cursor: pointer;
    }



    .App1 {
        grid-area: App1;
    }

    .App2 {
        grid-area: App2;
    }

    .App3 {
        grid-area: App3;
    }

    .App4 {
        grid-area: App4;
    }

    .App5 {
        grid-area: App5;
    }

    .App6 {
        grid-area: App6;
    }
 
/*Fin software*/

/* proyects */
    .proyects{
        margin-top: 100px;
        perspective: 5000px;
        background-color: #000;
        border-top: 1px solid rgba(0, 0, 0, 0);
        border-bottom: 1px solid rgba(75, 75, 75, 0.516);
        /* border-image: linear-gradient( to top, transparent, gray, transparent ) 1 100%; */
        /* background-image: linear-gradient(45deg, transparent, red, transparent); */
    }
    .proyects::before {
        content:'';
        position:absolute;
        width:100%;
        height:1px;
        background:linear-gradient(to left, transparent, gray, transparent); 
    }
    .proyects h1 {
        text-align: center;
        font-size: 50px;
        font-family: 'Segoe UI', serif;
        font-weight: normal;
        color: #fff;
    } 
    .card-proyect{
        margin: auto;  
        width: 300px;
        height: 300px; 
        position: relative; 
        transform-origin: left bottom; 
        transition-duration: 0.5s;
        animation-name: cardProyectos;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        transform: rotateY(-20deg) rotateX(10deg);
    } 
    
    @keyframes cardProyectos {
        0% { 
            width: 0px;
            top: 0%;
        }

        50% {
            /* transform: rotateY(-20deg) rotateX(10deg) translateY(1%); */
            /* width: 5px;
            top: 2%; */
        }

        100% { 
            width: 0px;
            top: 0%;
        }
    }
    .card-proyect:hover{ 
       
        transform: rotateY(0deg) rotateX(0deg); 
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s; 
        /* animation-name: none;
        animation-duration: 0s;  */
    } 
    .card-proyect  .clip:hover{  
        background-color: rgb(158, 35, 35); 
    } 
    .card-proyect .clip{ 
        width: 300px;
        height: 300px;
        margin: 20px;
        position: absolute;
        background-color: rgb(29, 29, 29);   
        /* background-image: linear-gradient(to right, red, transparent); */
        /* -webkit-clip-path: polygon(0% 9%, 7% 1%, 21% 1%, 25% 4%, 86% 5%, 89% 1%, 95% 1%, 100% 8%, 99% 86%, 93% 100%, 82% 100%, 78% 95%, 63% 96%, 57% 100%, 28% 100%, 27% 94%, 14% 95%, 11% 100%, 1% 95%); */
        /* clip-path: polygon(0% 7%, 7% 0%, 20% 0%, 25% 4%, 75% 4%, 80% 0%, 94% 0%, 100% 7%, 
                           100% 20%, 96% 25%, 96% 45%, 96% 50%, 98% 55%, 98% 80%, 100% 84%,
                           100% 93%, 93% 100%, 85% 100%, 80% 96%, 65% 96%, 60% 100%, 35% 100%, 30% 96%, 20% 96%, 15% 100%, 10% 100%, 0% 93%, 
                           0% 85%, 4% 80%, 4% 65%, 0% 60%); */
        clip-path: polygon(0% 10%, 5% 4%, 35% 4%, 40% 0%, 80% 0%, 95% 0%, 100% 5%, 
        100% 20%, 98% 25%, 98% 80%, 100% 83%,
        100% 93%, 95% 97%, 75% 97%, 70% 100%, 35% 100%, 30% 96%, 20% 96%, 5% 96%, 
        0% 92%);
    }

    .card-proyect .sub-left{ 
        width: 300px;
        height: 300px; 
        top: 0px;
        left: 10px;
        position: relative;
        background-color:rgb(247, 25, 25);
        clip-path: polygon(0% 14%, 6.5% 6.5%, 40% 6.5%, 43% 4%, 58% 4%, 61% 6%, 43% 6%, 38% 10%, 8% 10%, 2.5% 16.5%, 2.5% 98%, 1.5% 97.2%, 1.5% 17%, 0% 16%); 
    }
    .card-proyect .inf-left{  
        width: 300px;
        height: 300px; 
        top: 20px;
        left: 8px;
        position: absolute;
        background-color:rgb(247, 25, 25);
        clip-path: polygon(0.5% 10%, 0.5% 91%, 8% 97%, 30% 97%, 29.4% 96.5%, 8% 96.5%, 1% 91%, 1% 10.3%); 
    }
    .card-proyect .inf-bottom{  
        width: 200px;
        height: 20px; 
        top: 309.2px;
        left: 96px;
        position: absolute; 
        background-color:rgb(247, 25, 25);
        clip-path: polygon(
        1% 1%, 
        11% 84%, 
        78% 84%, 
        75.7% 60%, 
        14% 60%, 
        6.7% 1%); 
    }
    .card-proyect .inf-right{  
        width: 120px;
        height: 300px; 
        top: 50px;
        left: 220px;
        position: absolute;
        background-color:rgb(247, 25, 25);
        z-index: 1;
        clip-path: polygon( 
            11.5% 90%, 24% 90%, 
            29% 92%, 51% 92%, 
            55% 90%, 71% 90%, 
            90% 84.5%, 90% 50%, 
            88% 48%, 87% 1%, 
            85% 0%, 85% 10%, 79% 15%, 
            80% 70%, 85% 73%, 85% 83%, 
            72% 87.5%, 21.5% 87.5%);
        /* clip-path: polygon( 
        4.5% 90%, 10% 90%, 
        12% 92%, 20% 92%, 
        22% 90%, 30% 90%, 
        37% 84.5%, 37% 50%, 
        35% 48%, 35% 1%, 
        34% 0%, 34% 10%, 32% 15%, 
        32% 70%, 34% 73%, 34% 83%, 
        29% 87.5%, 8.5% 87.5%);  */
        
    }
    .card-proyect .top-clip{
        width: 40px;
        height: 1px;
        top: 5px;
        left: 125px;
        background-color: rgb(247, 25, 25);
        position: absolute;
    }
    .card-proyect .top-clip::after{
        content: ''; 
        width: 40px;
        height: 1px;
        left: 50px;
        background-color: rgb(199, 17, 17);
        position: absolute;
    }
    .card-proyect .top-clip::before{
        content: ''; 
        width: 40px;
        height: 1px;
        left: 100px;
        background-color: rgb(164, 16, 16);
        position: absolute;
    }
    .card-proyect .clip::before{
        content: ''; 
        display: block;
        width: 300px;
        height: 300px;
        position: absolute;
        z-index: 1;
        background-color: rgba(10, 10, 12, 0.711); 
        /* -webkit-clip-path: polygon(0% 9%, 7% 1%, 21% 1%, 25% 4%, 86% 5%, 89% 1%, 95% 1%, 100% 8%, 99% 86%, 93% 100%, 82% 100%, 78% 95%, 63% 96%, 57% 100%, 28% 100%, 27% 94%, 14% 95%, 11% 100%, 1% 95%); */
        clip-path: polygon(1% 7%, 7% 1%, 20% 1%, 24% 5%, 76% 5%, 80% 1%, 93% 1%, 99% 7%, 
                           100% 20%, 96% 25%, 96% 45%, 96% 50%, 98% 55%, 98% 80%, 100% 84%,
                           100% 93%, 93% 100%, 85% 100%, 80% 96%, 65% 96%, 60% 100%, 35% 100%, 30% 96%, 20% 96%, 15% 100%, 10% 100%, 0% 93%, 
                           0% 85%, 4% 80%, 4% 65%, 1% 60%);
     }
    .card-proyect .data{
        width: 90%; 
        height: 90%; 
        padding-top: 10px;
        color: #fff; 
        background: rgba(255, 255, 255, 0);
        z-index: 2;
        position: relative;
        text-align: center;
     }
    .card-proyect .data h3{
        text-align: right;
        padding-right: 10px;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(0.70turn, transparent, rgb(229, 25, 25));
        border-image-slice: 2;
        background-image: linear-gradient(260deg, black, rgb(0, 0, 0));
     }
    .card-proyect .data img{
        text-align: center;
        width: 100%;
        height: 120px;
        margin: 10px 10px;
        border: 3px solid red;
    }
    .card-proyect .data p{
        text-align: center;
        font-size: 13px;
        width: 100%;
        height: 30%;
        margin-top: -5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .card-proyect .data b{ 
        font-size: 13px; 
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .card-proyect .data hr{   
        height: 1px; 
        margin-top: -10px;
        background-image: linear-gradient(45deg, transparent, red, transparent);
        border: 0; 
    }

    .card-proyect .sub-right{  
        width: 105px;
        height: 1px;
        top: 17px;
        left: 200px;
        background-color: rgb(247, 25, 25);
        position: absolute;
    }
    .card-proyect .sub-right::after{ 
        content: '';
        width: 22px;
        height: 1px;
        top: 8px;
        left: 102px;
        background-color: rgb(247, 25, 25);
        position: absolute;
        transform: rotate(45deg);
    }  
/* Fin proyects */

/* Habilidades */
.skills{
    margin-top: 100px;
}
.skills h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Segoe UI', serif;
    font-weight: normal;
    color: #fff;
}

.circle{
    margin: 50px;
    height: 205px;
    width: 205px;
    background-color: rgb(41, 41, 41);
    border-radius: 50%;
    /* border: 4px solid rgb(1, 137, 216);  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardSkills{
    display: flex;
}
.cardSkills:hover .content_skills_info {
    /* transform: translateX(100px);
    transition: all 0.6s ease; */
    visibility: visible;
    background-color: #3131314f; 
    transition-duration: 0.5s;
    animation-name: hoverSkills;
    animation-duration: 500ms;
    /* animation-duration: 500ms; */
    animation-iteration-count: 1; 
}
.cardSkills:hover .circle::before  { 
    animation: circleRotate 10s linear infinite reverse; 
    filter:drop-shadow(0px 0px 5px red);
}
.cardSkills:hover .circle::after  {
    animation: circleRotate 10s linear infinite reverse; 
    filter:drop-shadow(0px 0px 5px red);
}
.cardSkills:hover .circle-line  {
    animation: circleRotate 10s linear infinite reverse; 
    filter:drop-shadow(0px 0px 5px red);
}
.content_skills_info{
    color: #fff;
    border: 1px solid #ff0000;
    width: 100%;
    /* display: none; */
    visibility: hidden;
    padding: 30px;
    margin-right: 5%;  
    right: 41px; 
    position: relative;
}

@keyframes hoverSkills {
    0% { 
        /* width: 0px; */ 
        height: 0%;
        top: 100px;
        transform: translateX(-100px) scale(0.5); 
    }

    50% {
        /* transform: rotateY(-20deg) rotateX(10deg) translateY(1%); */
        /* width: 5px;
        top: 2%; */
        height: 100%;
        top: 0px;
        transform: scale(0.5);
    }
    
    100% { 
        transform: scale(1);
        top: 0px;
        /* width: 0px;
        top: 0%; */ 
    }
}
  
.circle-point{
    height: 186px;
    width: 186px;
    /* background-color: rgb(50, 150, 19); */
    border-radius: 50%;
    border: 4px dotted rgb(148, 148, 148);   
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-point h2 {
    color: white;
}
.circle-point .contenido-img{
    width: 150px;
    height: 150px;
    overflow: hidden; 
    border-radius: 50%;
    filter:drop-shadow(0px 0px 5px red);
}
.circle-point .contenido-img .img-html{
    width: 700px;
    height: 700px;
    object-fit: cover;
    object-position: 222% 10%; 
}
.circle-point .contenido-img .img-css{
    width: 700px;
    height: 700px;
    object-fit: cover;
    object-position: 322% 10%; 
}
.circle-point .contenido-img .img-js{
    width: 700px;
    height: 700px;
    object-fit: cover;
    object-position: 122% 10%; 
}
.circle-point .contenido-img .img-php{
    width: 700px;
    height: 700px;
    object-fit: cover;
    object-position: 19% 10%; 
}
 

.circle-line{
    position: absolute;
    height: 185px;
    width: 188px;
    border: 5px solid rgb(25, 219, 83);
    border-color: transparent rgb(255, 7, 7) transparent transparent; 
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 100%;
    animation: circleRotate 2s linear infinite; 
    z-index: 2;
} 
@keyframes circleRotate  { to { transform: rotate(1turn); } } 
 
.circle::after{
    content: '';
    width: 220px;
    height: 220px;
    position: absolute; 
    border: 2px solid rgb(25, 219, 83);
    border-color:  transparent transparent transparent rgb(137, 16, 16) ; 
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 100%;
    animation: circleRotate 2s linear infinite reverse; 
    z-index: 2;
}
.circle::before{
    content: '';
    width: 250px;
    height: 250px;
    position: absolute; 
    border: 2px solid rgb(25, 219, 83);
    border-color:  transparent transparent rgb(255, 255, 255) rgb(255, 255, 255) ; 
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 100%;
    animation: circleRotate 2s linear infinite; 
    z-index: 2;
}
/* Fin Habilidades */

/*Linea del tiempo*/
.timeline-section{ 
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-section h1{ 
    color: #fff;
    text-align: center; 
    font-size: 50px;
    font-family: 'Segoe UI', serif;
    font-weight: normal;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: rgb(98, 98, 98);
	left: calc(50% - 1px);
	top: 10px;
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
    
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: rgb(229, 25, 25);
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
} 
.timeline-content{
    background-color: #000000;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 19px;
	color: #e1e1e1;
	margin: 3px 0 0 2px;
	text-transform: capitalize;
	font-weight: 500;  
    width:100%; 
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.70turn, transparent, rgb(229, 25, 25));
    border-image-slice: 2;
} 
.timeline-dot::before{
    content: '';
    border-bottom: 1px solid rgb(229, 25, 25);
    border-top: 2px solid rgb(229, 25, 25);
    position: absolute;
    width: 60px;
    height: 5px; 
    top: 29px;
    right: 14px;
	transform: rotate(-48deg);
} 
.timeline-item:nth-child(even) .timeline-dot::before{ 
    top: 29px;
    left: 16px;
	transform: rotate(47deg);
} 
.timeline-dot::after{
    content: '';
    border-bottom: 2px solid rgb(229, 25, 25);
    position: absolute;
    width: 20px;
    height: 5px; 
    top: 3px;
    right: 7px; 
}
.timeline-item:nth-child(even) .timeline-dot::after{ 
    top: 3px;
    left: 8px; 
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

@media only screen and (min-width: 50px) {

    .header .nav-links {
        width: 140px;
    }

    .header .nav-links li a span {
        display: none;
    }
 
    nav{
        width: 100%;
    }
    .nav-left-line{
        display: none;
    }

    .header .nav-links li a {
        padding: 18px 10px;
    }

    .main .text-begin div {
        width: 90%;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .content .logo {
        height: 300px;
        top: 230px;
        z-index: 2;
        position: relative;
    }

    .logo img:nth-child(1) {
        width: 300px;
    }

    .logo img:nth-child(2) {
        width: 300px;
    }

    .content .man {
        height: 300px;
        top: -300px;
        position: relative;
    }

    .colour-block {
        padding: 15% 20% 5% 20%;
    }

    .card-proyect{
        margin: auto 5% auto 5%;  
    }

    .cardSkills{
        display: block;
    }
    .content_skills_info{
        right: 0px;
    }

    .software {
        margin-top: -200px;
    }
    .AppGrid {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
            "App1"
            "App2"
            "App3" 
            "App4"
            "App5" 
            "App6";
    }
    .skills-content {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 15px 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "App1"
            "App2"
            "App3" 
            "App4"
            "App5" 
            "App6";
    }
    .poryect-content {
        margin-top: 10px; 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 15px 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "App1"
            "App2"
            "App3" 
            "App4"
            "App5" 
            "App6";
    }
}

@media (max-width: 550px) {
    /*linea del tiempo */
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left:0;
    }
    .timeline-item:nth-child(odd) .timeline-dot::after{ 
        top: 3px;
        left: 7px; 
    }
    .timeline-item:nth-child(odd) .timeline-dot::before{ 
        top: 29px;
        left: 16px;
        transform: rotate(45deg);
    } 

}

@media (min-width: 550px) {
    .header .nav-links li a {
        padding: 18px 11px;
    }

    .header .nav-links {
        width: 150px;
    }
    nav{
        width: 53%;
    }
    .cardSkills{
        display: flex;
    }

    .colour-block {
        padding: 5% 20% 5% 20%;
    }
 
    .AppGrid {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "App1 App2"
            "App3 App4"
            "App5 App6";
    }
    .card-proyect{
        margin: auto 25% auto 25%;  
    }

    .timeline-item:nth-child(odd) .timeline-content h3{ 
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(0.70turn, rgb(229, 25, 25), transparent);
        border-image-slice: 2;
    }  

    
    

}

@media (min-width: 900px) {
    .header .nav-links li a span {
        display: inline-block;
    }
 

    .header .nav-links li a {
        padding: 19px 15px;
    }

    .header .nav-links {
        width: 455px;
    }

    .content {
        grid-template-columns: repeat(2, 1fr);
    }

    .content .logo {
        height: 300px;
        top: 0px;
        z-index: 1;
        position: relative;
    }

    .content .man {
        height: 300px;
        top: 0px;
        position: relative;
    }

    .software {
        margin-top: 0px;
    }

    .logo img:nth-child(1) {
        width: 400px;
    }

    .logo img:nth-child(2) {
        width: 400px;
    }

    .card-proyect{
        margin: auto;  
    }
    .AppGrid {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
            "App1 App2 App3"
            "App4 App5 App6";
    }

    .poryect-content {
        margin-top: 10px; 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "App1 App2 App3"
            "App4 App5 App6";
    }
    
    .skills-content {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "App1 App2"
            "App3 App4"
            "App5 App6";
    }
    
}